$navbar-default-bg: #312312;
$light-organge: #ff8c00;
$navbar-default-color: $light-organge;
   
   
@import "bootstrap-sprockets";
@import "bootstrap";


.container1 {
  margin-left:20px;
  margin-right:20px;
  margin-top:15px;
  margin-bottom:15px;
}

.container2{
  margin-left:20px;
  margin-right:20px;
  margin-top:15px;
  margin-bottom:15px;
}

#logo {
  margin-top:10px;
  margin-bottom:10px;
  float: left;
  margin-right:10px;
  font-size:2em;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:-1px;
  paddind-top:9px;
  font-weight:bold;
}

#logo:hover {
color:white;
text-decoration:none;
}

body {
  padding-top:80px;
  margin-left:100px;
  margin-right:100px;
}

.nav_item {
  margin-left:20px;
  float: left;
  margin-top:20px;
}

.center {
  text-align:center;
}

h1,h2,h3,h4 {
  line-height:1;
}

h1 {
  font-size:3em;
  letter-spacing:-2px;
  margin-bottom:3px;
  text-align:center;
}

h2 {
  font-size:1.2em;
  margin-bottom:30px;
  text-align:center;
  font-weight:normal;
  color:#777;
}

.left {
  text-align:left;
  letter-spacing:0.5px;
}

.footer {
  margin-top:25px;
  border-top:1px solid #eaeaea;
  color:#777;
}


.chef_info {
  margin-top: 10px;   
}

.gravatar {
  
  border-radius: 10px;
}

.well{
  
  background-color: #EDEDED;
  
}

input, textarea, select, .uneditable-input {
  
  border: 1px solid #d2d2d2; 
  border-radius: 5px;
  width:100%;
  margin-bottom: 15px;
  
} 

input {
  
  height: auto !important;
  
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show-recipe {
  margin: 10px 10px 10px 10px;
} 



.dropdown:hover .dropdown-content {
    display: block;
}




.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


